:root {
    --master-bg: #fff;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: var(--master-bg);
    padding: 0;
    margin: 0;
}

#threeContainer {
    width: 100vw;
    height: 40%;
    background: #fad;
}